    <div class="wrapper">
      <header>
        <h1>Global Android Dev Camp</h1>
        <p>GDG hackathon series for 2014</p>           
 
      </header>
      <section>
        <h3>
<a name="productive-android" class="anchor" href="#productive-android"><span class="octicon octicon-link"></span></a>Wearables and Productive Android</h3>

<p><img src="img/gadc2014.png" alt="GADC2014" width="30%" style="padding:5px;float:left;"></p>

<p>Back in 2012, the global Android developer community worked together to create an Android hackathon that took place at over 50 cities world wide. This was a amazing! Now, we are in 2014, Android has changed since, everything got more professional and there we go:</p>

<p>The Global Android Dev Camp takes place on <br/><strong>12-14 September 2014</strong>.</p>

<p>There are two main topic:<br/>
<ul>
<li><strong>Wearables</strong> and</li>
<li><strong>Productive Android</strong>.</li>
</ul>    
</p>


<p>During that weekend developers and designers are invited to sit together and to
<ul>
    <li>Develop apps for wearables like smart glasses, smart watches, fitness bands, etc and to </li>
    <li>Create, try and improve tools and libraries that make Android development more productive.</li>
</ul>


<h3>
<a name="contact" class="anchor" href="#contact"><span class="octicon octicon-link"></span></a>Contact</h3>

<p>Look out for your local community manager, e.g. via <a href="https://developers.google.com/groups/directory/">https://developers.google.com/groups/directory/</a></p>

<p>For global request contact<br/>
<a href="http://gplus.to/friedger">Friedger Müffke</a><br/>
<a href="https://github.com/GlobalAndroidDevCamp">Global Android Dev Camp on Github</a></p>
      </section>

     
    </div>   
    
